<h1> REPORT</h1>
<p><strong>Appointment Date</strong><%=PatientAppointment.find_by(user_id:current_user.id).appointment_date %></p>
<p><strong>Doctor</strong> <%=PatientAppointment.find_by(user_id:current_user.id).doctor.fullname %></p>
